<form #addform="ngForm">
  <table>
    <tr>
      <td>
          <md-form-field>
              <input required mdInput placeholder="Cedula" [(ngModel)]="empleados.cedula" name="cedula" #cedula="ngModel">
              <md-error>
                Por Favor Ingrese un Nombre Valido
              </md-error>
            </md-form-field>
      </td>
    </tr>
    <tr>
        <td>
            <md-form-field>
                <input required mdInput placeholder="Fecha nacimiento" [(ngModel)]="empleados.fecnac" name="fechnac" #fecnac="ngModel">
                <md-error>
                  Por Favor Ingrese un Numero de Cedula Valido
                </md-error>
              </md-form-field>
        </td>
      </tr>
    <tr>
        <td>
            <md-form-field>
                <input required mdInput placeholder="Cargo" [(ngModel)]="empleados.cargo" name="cargo" #cargo="ngModel">
                <md-error>
                  Por Favor Ingrese una Direccion Valida
                </md-error>
              </md-form-field>
        </td>
    </tr>
    <tr>
      <td>
          <md-form-field>
              <input required mdInput placeholder="Genero" [(ngModel)]="empleados.genero" name="genero" #genero="ngModel">
              <md-error>
                Por Favor Ingrese una Direccion Valida
              </md-error>
            </md-form-field>
      </td>
  </tr>
             <tr>
              <td>
                  <div class="button-row">
                      <button [disabled]="!addform.valid" md-raised-button color="accent" (click)="onSaveClick()">Guardar</button>
                      <button md-raised-button color="accent" (click)="onNewClick()">Nuevo Registro</button>
                  </div>
                    
             </td>
              </tr>
  </table>
</form>

