<!--<form #addform="ngForm">
    AGREGAR ORDENES
    <table>
      <tr>
        <td>
            <md-form-field>
                <input required mdInput placeholder="Fecha" [(ngModel)]="ordenes.fecha" name="fecha" #fecha="ngModel">
                <md-error>
                  Por Favor Ingrese un Nombre de empleado Valido
                </md-error>
              </md-form-field>
        </td>
      </tr>
      <tr>
          <td>
              <md-form-field>
                  <input required mdInput placeholder="Proveedor" [(ngModel)]="ordenes.proveedor" name="proveedor" #proveedor="ngModel">
                  <md-error>
                    Por Favor Ingrese un id de cliente  Valido
                  </md-error>
                </md-form-field>
          </td>
        </tr>
      <tr>
          <td>
              <md-form-field>
                  <input required mdInput placeholder="Cliente" [(ngModel)]="ordenes.cliente" name="cliente" #cliente="ngModel">
                  <md-error>
                    Por Favor Ingrese una fecha Valida
                  </md-error>
                </md-form-field>
          </td>
      </tr>
      <tr>
        <td>
            <md-form-field>
                <input required mdInput placeholder="Producto" [(ngModel)]="ordenes.producto" name="producto" #producto="ngModel">
                <md-error>
                  Por Favor Ingrese un descuento Valida
                </md-error>
              </md-form-field>
        </td>
    </tr>
               <tr>
                <td>
                    <div class="button-row">
                        <button [disabled]="!addform.valid" md-raised-button color="accent" (click)="onSaveClick()">Guardar</button>
                        <button md-raised-button color="accent" (click)="onNewClick()">Nuevo Registro</button>
                    </div>
                      
               </td>
                </tr>
    </table>
  </form>-->
<div class="container">
  <form>
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="text" class="form-control" id="fecha" aria-describedby="emailHelp" placeholder="Fecha" [(ngModel)]="ordenes.fecha" name="fecha" #fecha="ngModel">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <div class="form-group">
        <label for="proveedor">Proveedor</label>
        <input type="text" class="form-control" id="proveedor" placeholder="Proveedor" [(ngModel)]="ordenes.proveedor" name="proveedor" #proveedor="ngModel" >
      </div>
      <div class="form-group">
          <label for="cliente">Cliente</label>
          <input type="text" class="form-control" id="cliente" placeholder="Cliente" [(ngModel)]="ordenes.cliente" name="cliente" #cliente="ngModel">
        </div>
        <div class="form-group">
            <label for="producto">Producto</label>
            <input type="text" class="form-control" id="producto" placeholder="Producto" [(ngModel)]="ordenes.producto" name="producto" #producto="ngModel">
          </div>
          <button [disabled]="!addform.valid" md-raised-button color="accent" (click)="onSaveClick()">Guardar</button>
          <button md-raised-button color="accent" (click)="onNewClick()">Nuevo Registro</button>
     <!-- <button type="submit" class="btn btn-primary">Submit</button>-->
    </form>
  </div>
  
