<form #addform="ngForm">
  <table>
    <tr>
      <td>
          <md-form-field>
              <input required mdInput placeholder="Cedula" [(ngModel)]="clientes.cedula" name="cedula" #cedula="ngModel">
              <md-error>
                Por Favor Ingrese una cedula Valido
              </md-error>
            </md-form-field>
      </td>
    </tr>
    <tr>
        <td>
            <md-form-field>
                <input required mdInput placeholder="NombreContacto" [(ngModel)]="clientes.nombrecontacto" name="nombrecontacto" #nombrecontacto="ngModel">
                <md-error>
                  Por Favor Ingrese un Nombre de Contacto Valido
                </md-error>
              </md-form-field>
        </td>
      </tr>
    <tr>
        <td>
            <md-form-field>
                <input required mdInput placeholder="Direccion" [(ngModel)]="clientes.direccion" name="direccion" #direccion="ngModel">
                <md-error>
                  Por Favor Ingrese una Direccion Valida
                </md-error>
              </md-form-field>
        </td>
    </tr>
    <tr>
      <td>
          <md-form-field>
              <input required mdInput placeholder="Email" [(ngModel)]="clientes.email" name="email" #email="ngModel">
              <md-error>
                Por Favor Ingrese un email Valido
              </md-error>
            </md-form-field>
      </td>
  </tr>
             <tr>
              <td>
                  <div class="button-row">
                      <button [disabled]="!addform.valid" md-raised-button color="accent" (click)="onSaveClick()">Guardar</button>
                      <button md-raised-button color="accent" (click)="onNewClick()">Nuevo Registro</button>
                  </div>
                    
             </td>
              </tr>
  </table>
</form>
